<ngu-datatable [data]="data" [selectAllEnabled]="true">
  <ngu-datatable-column property="id">
<!--    <ng-container *nguDatatableHeader>header1</ng-container>-->
    <ng-container *nguDatatableCell="let row">
      <input [value]="row.id">
    </ng-container>
  </ngu-datatable-column>
  <ngu-datatable-column property="title">
<!--    <ng-container *nguDatatableHeader>header 2</ng-container>-->
    <ng-container *nguDatatableCell="let row">{{ row.title }}</ng-container>
  </ngu-datatable-column>
</ngu-datatable>
