.ngu-datatable-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-collapse: collapse;

  .ngu-datatable-header-row {
    display: flex;
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #c0bcf2;
    .ngu-datatable-header-cell {
      color: white;
    }
    .select-all-header-checkbox {
      padding-right: 0.5rem;
    }
  }
  .ngu-datatable-data-row {
    display: flex;
    border: 1px solid #ddd;
    padding: 8px;
    .ngu-datatable-data-cell {
    }
    .select-row-checkbox {
      padding-right: 0.5rem;
    }
  }

  .ngu-datatable-data-row:hover, .ngu-datatable-data-row:nth-child(odd):hover {
    transition: 0.3s;
    background-color: #bee5f2;
  }

  .ngu-datatable-data-row:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .ngu-datatable-pagination {
    display: flex;
    border: 1px solid #ddd;
    padding: 8px;
  }
}
