<div fxLayout="column" fxFlex="100" class="ngu-datatable-container">
  <div class="ngu-datatable-header-row">
    <ng-container *ngIf="selectAllEnabled">
      <div class="select-all-header-checkbox">
        <input type="checkbox" (change)="selectAllData($event.target.checked)"/></div
    ></ng-container>
    <ng-container *ngFor="let column of columns">
      <div class="ngu-datatable-header-cell" [fxFlex]="100 / columns.length">
        <ng-container *ngIf="column.nguDatatableHeader; else defaultHeader">
          <ng-container
            *ngTemplateOutlet="
              column?.nguDatatableHeader?.templateRef;
              context: { $implicit: 'row' }
            "
          ></ng-container>
        </ng-container>
        <ng-template #defaultHeader>
          {{ column.property }}
        </ng-template>
      </div>
    </ng-container>
  </div>

  <ng-container *ngFor="let row of visibleData">
    <div fxFlex="100" class="ngu-datatable-data-row">
      <ng-container *ngIf="selectAllEnabled">
        <div class="select-row-checkbox">
          <input type="checkbox" (change)="selectRow($event.target.checked, row)" [checked]="isRowSelected(row)"/>
        </div>
      </ng-container>
      <ng-container *ngFor="let column of columns">
        <div [fxFlex]="100 / columns.length" class="ngu-datatable-data-cell">
          <ng-container
            *ngTemplateOutlet="
              column?.nguDatatableCell?.templateRef;
              context: { $implicit: row }
            "
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div fxFlex="100" class="ngu-datatable-pagination">
    <ngu-datatable-pagination
      fxFlex="100"
      [entries]="_data.length"
      (paginationChange)="onPaginationChange()"
    ></ngu-datatable-pagination>
  </div>
</div>
